*{
	
}

body {
	background-color: black;
	color: rgb(212, 255, 71);
	margin-top: -80px;
	border-top: 0px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
	margin: 1rem 4.5rem;
}

h1 {
	text-align: center;
	font-size: 120px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 6px -5px 15px #FF003D;
    letter-spacing: -0.3rem;
    margin: 50px 0px 30px;
}

#spiderweb {
	color: rgb(212, 255, 71);
	margin: 65px auto -60px;
	font-size: 30px;
	text-align: center;
}

/*iframe { 
	height: 555px;
	margin: -3rem 5rem;
}*/

ul{
	position: fixed;
	bottom: 0;
 	right: 0;
 	width: 100vw;
 	display: inline-flex;
 	list-style: none;
 	text-transform: lowercase;
 	margin: 1vh auto;
 	font-size: large;
 	flex-wrap:  wrap;
}

li{
	display: inline-block;
	flex: 5;
	margin: 0 auto 7px;
	padding: 0;
	text-align: center;
}


a:link /*a normal, unvisited link*/{
	color: inherit;
	text-decoration: none;
}
a:visited /*a link the user has visited*/{
	color: inherit;	
	text-decoration: none;
}
a:hover /*a link when the user mouses over it*/{
	color: #FF0000;
	text-decoration: none;
}
a:active /*a link the moment it is clicked*/{
	color:inherit;
	text-decoration: none;
}

h2{
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 9px -3px 8px #3f3c3b;
    letter-spacing: -0.3rem;
    margin: 95px -30px;
}

h3{
	text-align: center;
	margin: auto;
}

.iframe-container{
	height: 555px;
	width: 800px;
	margin: auto;
}

iframe{
	width:  100%;
	height:  100%;
}

.desc {
	border: dashed;
	border-radius: 50px;
	padding: 3rem;
/*	font-family: 'Syne Mono', monospace;
	font-size: 105%;*/
	background-color: black;
	box-sizing: border-box;
	width: 80vw;
	height: 80vh; 
/*  	flex: 1;*/
  	margin: 5vh auto 6vh;
	line-height: 1.1rem;
	overflow-y: scroll;
		/*font-size: 450%;
		margin: auto;*/
	scrollbar-color: rebeccapurple green;
  	scrollbar-width: thin;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 255, 71); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 200, 71); 
}


@media screen and (max-width: 950px){
	.iframe-container{
		height: 345px;
		width: 90%;
	}
}

@media screen and (max-width: 450px){
	body{
		margin: 0;
	}

	#spiderweb{
		margin: auto;
	}

	h1 {
		font-size: 450%;
		margin: auto;
	}

	li {
		flex: 1;
		margin:  10px 22px;
	}
}

/*@media screen and (max-width: 480px){ 
	#Polaroid {
		width: 80vw;
		height: 80%;
	}
	h1 {
		font-size: 5.2rem;
		margin-bottom: -.5rem;
	}
	.desc{
		padding: 0.1rem;
		font-size: 2rem;
	}
	h3{
		font-size: 50px;
	}
}

@media screen and (max-width: 360px){
	h1{
		margin-left: -.5rem;
}
	#exercises{
		margin-left: -1.1rem; 
	}
}




/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */