/*@font-face {
  font-family: 'Night Vibes Free Version';
  src: url(../font/Night Vibes Free Version.ttf) format('truetype');
  font-family: 'Syne Mono', monospace;
} */


body {
	background-color: black;
	color: rgb(212, 255, 71);
	margin: 200px;
	margin-top: -80px;
	border-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 120px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 9px -3px 8px #3f3c3b;
    letter-spacing: -0.3rem;
    margin: 95px -30px;
}

#spiderweb {
	color: rgb(212, 255, 71);
	margin: 10px;
	/*display: inline*/;
}

iframe { 
	height: 630px;
}

.desc {
	border: dashed;
	border-radius: 50px;
	padding: 30px;
	font-family: 'Syne Mono', monospace;
	font-size: 150%;
	background-color: black;
}

.photos {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}
img {
	width: 100%;
}

figcaption {
  font-family: 'Syne Mono', monospace;
  font-size: 150%;
  background-color: black;
}

.photos.row-0 {
	background-image: url('photos/RossieCordovaWeb_timelapse_0001.JPG');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 446px;
	
}

.photos.row-0:hover{
	background-image: url('photos/RossieCordovaWeb_timelapse_0039.JPG');
}

.photos.row-0 figure figcaption {
	text-align: center;
	margin-bottom: 10px;
}

.row-1 figure{
	flex: 1;
}

.contact_info {
	font-family: 'Syne Mono', monospace;
	font-size: 100%;
	text-align: center;
}

#overlap{
	height: 100vh;
	width: 100vw;
	border: 5px solid green;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

/*.hover-example{
	width: 500px;
	height: 200px;
	background-image: url('photos/rossie 0.jpg');
	background-size: cover;
}

.hover-example:hover{
	background-image: url('photos/rossie 1.jpg');
}*/

#nobackground{
	background: none;
}