/*@font-face {
  font-family: 'Night Vibes Free Version';
  src: url(../font/Night Vibes Free Version.ttf) format('truetype');
  font-family: 'Syne Mono', monospace;
} */


body {
	background-color: black;
	color: rgb(212, 255, 71);
	margin: 100px;
	margin-top: -80px;
	border-top: 0px;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 120px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 9px -3px 8px #3f3c3b;
    letter-spacing: -0.3rem;
    margin: 95px -30px;
}

#spiderweb {
	color: rgb(212, 255, 71);
	margin: 10px;
	/*display: inline*/;
}

iframe { 
	height: 630px;
}

.desc {
	border: dashed;
	border-radius: 50px;
	padding: 30px;
	font-family: 'Syne Mono', monospace;
	font-size: 150%;
}

.photos {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}
img {
	width: 100%;
}

figcaption {
  display: flex;
}

.photo.row-0 figure figcaption {
	text-align: center;
}