/*@font-face {
  font-family: 'Night Vibes Free Version';
  src: url(../font/Night Vibes Free Version.ttf) format('truetype');
  font-family: 'Syne Mono', monospace;
} */

*{
	margin: 1rem;
}

body {
	background-color: black;
	color: rgb(212, 255, 71);
	height: 100vh;
	width: 100vw;
	position: fixed;
	font-family: 'Syne Mono', monospace;
}

.photo {
	background: url(photos/rossie_9.jpg);
	background-size: contain;
	width: 80vw;
	height: 80vh;
	background-repeat: no-repeat;
	margin: auto auto;
}

.contact_info {
	font-family: 'Syne Mono', monospace;
	font-size: 93%;
	text-align: center;
	/*! margin: 140px; */
	position: fixed;
	left: 40px;
	bottom: 245px;
}

/*.hover-example{
	width: 500px;
	height: 200px;
	background-image: url('photos/rossie 0.jpg');
	background-size: cover;
}

.hover-example:hover{
	background-image: url('photos/rossie 1.jpg');
}*/

ul{
	position: fixed;
	bottom: 0;
 	right: 0;
 	width: 100vw;
 	display: inline-flex;
 	list-style: none;
 	text-transform: lowercase;
}

li{
	display: block;
	flex: 5;
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link /*a normal, unvisited link*/{
	color: inherit;
	text-decoration: none;
}
a:visited /*a link the user has visited*/{
	color: inherit;	
	text-decoration: none;
}
a:hover /*a link when the user mouses over it*/{
	color: #FF0000;
	text-decoration: none;
}
a:active /*a link the moment it is clicked*/{
	color:inherit;
	text-decoration: none;
}