/* Tags */

body {
	margin: 0;
	padding: 20px;
	background-image: url("../images/cordova-web-map-compressed.jpg");
	background-color: #000;
}

button {
	margin-top: 20px;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

h1 {
	font-size: 60px;
    color: #FF0000;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 0;
	margin: 20px;
	text-align: center;
}

h5 {
	margin: 0;
	padding: 10px;
	font-size: 30px;
	color: rgb(212, 255, 71);
	font-family: "Courier New", "Courier", monospace;
}

iframe {
	height: 50px;
}

img {
	width: 80%;
}

p {
	font-size: 22px;
	color: rgb(212, 255, 71);
	font-family: "Courier New", "Courier", monospace;
}

table {
	max-width: 1000px;
	margin: auto;
}

td {
	vertical-align: top;
}

/* Classes */
.email {
	color: rgb(212, 255, 71);
}

.email:hover {
	text-decoration: none;
}

.img-gallery {
	width: 100%;
	text-align: center;
}

.main-content {
	background: #000;
	width: 90%;
	padding-top: 0;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border: medium dashed;
	border-color: rgb(212, 255, 71);
}

.menu {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.menu-item {
	font-size: 22px;
	color: #FF0000;
	font-family: "Helvetica", "Arial", sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

.menu-item:hover {
	text-decoration: underline;
}

.side-btn {
	width: 40px;
}

/* IDs */

#current-page {
	text-decoration: underline;
}
