body {
	padding: 40px;
	margin: 0 auto;
	background: #000;
	background-image: url("../images/cordova-web-map-compressed.jpg");
}

.index {
	margin-left: 100px;
	margin-right: 100px;
	padding: 0;
	background: #000;
	background-image: none;
}

.nav, h1 {
	font-family: "Karla", Arial, sans-serif;
}

h5 {
	font-family: "SyneMono", monospace, sans-serif;
}

p, .email {
	font-family: "SyneMono", monospace, sans-serif;
	font-size: 22px;
	color: rgb(212, 255, 71);
}

.spider-web {
	text-decoration: none;
}

.email:hover {
	text-decoration: none;
}

.nav {
	margin: auto;
	width: 100%;
	text-align: center;
}

.nav-item {
	text-decoration: none;
	color: #FF0000;
	font-size: 22px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-item:hover {
	text-decoration: underline;
}

#current-page {
	text-decoration: underline;
}

.slide-container {
	max-width: 900px;
	min-width: 500px;
	margin: auto;
	margin-top: 40px;	
}

.slides {
	border: medium dashed;
	border-color: rgb(212, 255, 71);
	padding: 40px;
	background: black;
}


.buttons {
	margin-top: 40px;
	text-align: center;
}

.btn-link {
	color: #000;
	text-decoration: none;
}


iframe {
	width: 10%;
	height: 30%;
}

button {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.previous {
	margin-right: 10px;
}

.next {
	margin-left: 10px;
}

.img-gallery {
	width: 100%;
/*	background: blue;*/
	text-align: center;
}

img {
	width: 50%;
}

#imgClickAndChange {
	cursor: pointer;
}

#intro {
	font-size: 40px;
	color: rgb(212, 255, 71);
}

.spider-web {
	position: absolute;
	top: 20px;
	left: 40px;
	font-size: 50px;
}

h1 {
	font-size: 60px;
	margin: 0;
	padding: 0;
	font-family: "Karla", sans-serif;
    color: #FF0000;
    text-shadow: 6px -5px 15px #FF003D;
	text-align: center
}

.click {
	text-align: center;
}

.footer {
	position: fixed;
	margin: 40px;
	bottom: 0;
	color: rgb(212, 255, 71);
/*	background: blue;*/
	width: 100%;
	text-align: justify;
}