body {
	background-color: black;
	color: rgb(212, 255, 71);
	margin: 5% 10% 10%;
	border: auto;
	padding-top: 0px;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
	width: 80vw;
	height: 80vh;
	position: absolute;
}


.photos{
  	display: grid;
  	grid-template-columns: 1fr 1fr;
	grid-template-rows: .05fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 1%;
	/*minmx: (1555px, 3050px);*/
	height: 3050px;
	width: 100%;
	column-gap: 1.5rem;
	row-gap: 10px;
	overflow: scroll;
	text-align: center;
	margin-bottom: 10vh;
}

.item{
	height: 100%;
}

.lisa{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2 ;
	place-self: stretch;
}

.rossie{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3 ;
	place-self: stretch;
}

.lisa1{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2 ;
	background-image: url('photos/LisaRoach_1min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	place-self: stretch;
}

.rossie1 { 
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	background-image: url('photos/RLD_CordovaWeb_Sketch_1min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	place-self: stretch;
}

.lisa2{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2 ;
	background-image: url('photos/LisaRoach_2min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.rossie2 { 
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	background-image: url('photos/RLD_CordovaWeb_Sketch_2min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.lisa5{
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2 ;
	background-image: url('photos/LisaRoach_5min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.rossie5 { 
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
	background-image: url('photos/RLD_CordovaWeb_Sketch_5min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.lisa10{
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 2 ;
	background-image: url('photos/LisaRoach_10min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.rossie10 { 
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: 3;
	background-image: url('photos/RLD_CordovaWeb_Sketch_10min.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.lisanolimit{
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 2 ;
	background-image: url('photos/LisaRoach_nolimit.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.rossienolimit{ 
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 2;
	grid-column-end: 3;
	background-image: url('photos/RLD_CordovaWeb_Sketch_nolimit.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

h2 {
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;
    color: #FF0000;
    text-shadow: 9px -3px 8px #3f3c3b;
    letter-spacing: -0.3rem;
    margin: 95px -30px;
}

ul{
	position: fixed;
	bottom: 0;
 	right: 0;
 	width: 100vw;
 	display: inline-flex;
 	list-style: none;
 	text-transform: lowercase;
 	
}

li{
	display: inline-block;
	flex: 5;
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link /*a normal, unvisited link*/{
	color: inherit;
	text-decoration: none;
}
a:visited /*a link the user has visited*/{
	color: inherit;	
	text-decoration: none;
}
a:hover /*a link when the user mouses over it*/{
	color: #FF0000;
	text-decoration: none;
}
a:active /*a link the moment it is clicked*/{
	color:inherit;
	text-decoration: none;
}