body {
	background-color: black;
	color: rgb(212, 255, 71);
	margin: 10%;
	border: auto;
	padding-top: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 1%;
	justify-content: center;
	box-sizing: border-box;
	font-family: 'Syne Mono', monospace;
	position: fixed;
}

.header{
	width: 100%;
	background-image: url(photos/RLD_CordovaWeb_PhotoofSketching_001.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	grid-area: 1 / 1 / span 1 / span 1;
}

.process-desc{
	grid-area: 1 / 2 / span 1 / span 1;
}
  /*grid-area: 2 / 1 / span 2 / span 3	
    grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end
}*/

.process-desc2 {
	grid-area: 2 / 1 / span 1 / span 2;
}

ul{
	position: fixed;
	bottom: 0;
 	right: 0;
 	width: 100vw;
 	display: inline-flex;
 	list-style: none;
 	text-transform: lowercase;
 	
}

li{
	display: inline-block;
	flex: 5;
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link /*a normal, unvisited link*/{
	color: inherit;
	text-decoration: none;
}
a:visited /*a link the user has visited*/{
	color: inherit;	
	text-decoration: none;
}
a:hover /*a link when the user mouses over it*/{
	color: #FF0000;
	text-decoration: none;
}
a:active /*a link the moment it is clicked*/{
	color:inherit;
	text-decoration: none;
}

